html, body {
  margin-top: 0%;
  background-color: rgb(255, 255, 255);
  font-family: 'DM Serif Display', serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 83vh 0.6fr 2.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar navbar navbar"
    "title title title"
    ". match-button .";
  justify-items: stretch;
  height: 100vh;
}


  .button-container {
    display: flex;
    justify-content: space-evenly; /* Evenly distribute space between the buttons */
    align-items: center; /* Center the buttons vertically */
    width: 100%;
  }

  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
  
  }
  