.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 70px;
  grid-auto-flow: row;
  grid-template-areas:
    "brand-match . navbuttons"
    "brand-match . navbuttons"
    "brand-match . navbuttons";
  grid-area: navbar;
  background-color: #fbeee0;
  border-bottom: 4px solid black; 
}


  .navtitle {
    font-size: 70pt;
    font-weight: 800;
  }
  
  .brand-match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    grid-area: brand-match;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
  }
  
  .navbuttons {
    grid-area: navbuttons;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbuttons button {
    background-color: #fbeee0;
    border: 4px solid #0a241c;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'DM Serif Display', serif;
    margin-right: 10px;
  }
  
  .navbuttons button:last-child {
    margin-right: 0;
  }
  
  .navbuttons button:hover {
    background-color: #ffffff;
  }
  
  .navbuttons button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .navbuttons {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  .temp-search {
    padding-left: 10px;
    padding-right: 10px;
  }